<div class="collection-desktop">
    <collection-selector>
      <script id="collection-data" type="text/json">
        {
          "data":{% render 'collection-json', product: product %}
        }
      </script>
    </collection-selector> 
  </div>